<div class="hero-outer">
  <div class="find-it-first-wrapper">
    <div class="find-it-first">
      <h1 class="find-it-first-title">
        Find it first on Indiegogo.
      </h1>
      <p class="find-it-first-description">
        Discover innovations in tech and design before they go mainstream. including hundreds of products shipping right away.
      </p>
      <div class="find-it-first-actions">
        <a class="i-cta-1 find-it-first--first-child">Sign up Now</a>
        <a class="i-cta-1 find-it-first--last-child">Learn More</a>
      </div>
    </div>
  </div>
</div>
